# Print

In [ ]:
##string
print("4" + "2")

##int
print(4+2)

#float
print(4.00+2.00)

## Variable and Data type

In [ ]:
# int
x = 4 

# float
y = 4.0

# string
z = "hello"

print(x)

# Working with string

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)
print(len(x))

# Working with numbers

In [ ]:
x ="5"
y=int(x)
print(y+2)

# Getting user input + if else statements

In [ ]:
a = int(input("please enter number:"))

if (a==5):
    print("correct answer")
elif (a==6):
    print("correct also")
elif (a==7):
    print("correct 3x")
else:
    print("none is correct")

# For loop

In [ ]:
for i in range(2,5,2):
    print(i)

# While loop + potential conditions

In [ ]:
count = 0 
bool = True
while(bool):
    print("loop moving")
    count = count + 1
    if (count==3):
        break

In [ ]:
#in the loop, continue is skip iteration, and break is out of loop
for i in range(0,6):
    if(i>3):
        continue
   
    print(i)

In [ ]:
sum = 0
for i in range (1,6):
    a = int(input("Numbers"))
    sum = sum+a
    
    print(sum)

# Array + import

In [8]:
#pop()
#remove()
#append()
#clear()

cars = ["Volvo", "Honda", "Myvi"]
boat = ["yacht", "sampan", "ferry"]
plane = ["boeing", "airbus", "chinaplane"]
num = [1,2,3,4,5] ##6


vehicle = [cars, boat, plane]

In [ ]:
for i in range(0,3):
    for n in range(0,3):
        print(vehicle[i][n])

In [ ]:
print(cars)

In [ ]:
popped_value

In [5]:
import random
a = random.randint(1,10)

In [6]:
##question 1 append 5 random numbers into this array from 1 to 10
## question 2 find biggest number in array
## question 3 find smallest number in array
## question 4 print the biggest number and smallest number in array
## question 5 print u have made it if any 2 numbers in the array equals to 10


num =[]

2